{
    "train_dir": "data/MUSIC/train_data.json",
    "dev_dir": "data/MUSIC/dev_data.json",
    "test_dir": "data/MUSIC/test_data.json",
    "vocab_path": "checkpoints/bert-base-chinese/vocab.txt",
    "indexed_train_dir": "./data/MUSIC/indexed_train_bert.json",
    "indexed_test_dir": "./data/MUSIC/indexed_test_bert.json",
    "indexed_dev_dir": "./data/MUSIC/indexed_dev_bert.json",
    "indexed_data_dir": "./data/MUSIC/"
}
