{
    "train_dir": "data/MUSIC/indexed_train_bert.json",
    "dev_dir": "data/MUSIC/indexed_dev_bert.json",
    "test_dir": "data/MUSIC/indexed_test_bert.json",
    "checkpoint_dir": "checkpoints",
    "max_len": 500,
    "batch_size": 2,
    "epoches": 30,
    "learning_rate": 0.00001,
    "max_patience_epoches": 10
}
